@media screen and (max-width:1600px){
    /**** Container *****/
    .container{
        padding: 0 6rem;
    }
    /* Title Style */
    .title{
        font-size: 1.8rem;
        padding-bottom: .8rem;
    }

    /* Section Padding */
    .banner-content,.style-section,.product-section,.md-section{
        padding: 5.6rem 0;
    }

    /***** Header *****/
    header{
        padding: 0 6rem;
        height: 88px;
    }
    header .nav .logo{
        font-size: 2rem;
        padding-right: 1.6rem;
    }
    header .nav .menu-bar li a{
        font-size: 1.2rem;
    }
    header .nav .info-bar li a{
        font-size: 1.3rem;
    }

    /**** Swiper Main slide ****/
    .main-slides .slide .slide-view-box p{
        font-size: 1.8rem;
    }
    .main-slides .slide .slide-view-box .bm-box .buy,
    .main-slides .slide .slide-view-box .bm-box .more{
        width: 160px;
        height: 48px;
        font-size: .8rem;
        line-height: 48px;
    }
    /****  Banner Content ****/
    .banner-content .content-box{
        column-gap: 2.5rem;
    }
    .banner-content .content-box .content{
        width: 420px;
        height: 560px;
    }
    .banner-content .content-box .content-2{
        margin-top: 6rem;
    }
    .banner-content .banner-text{
        padding-top: 4rem;
        row-gap: .8rem;
    }
    .banner-content .banner-text .brand{
        font-size: 1.8rem;
    }
    .banner-content .banner-text p{
        font-size: 3rem;
    }
    .banner-content .banner-text .banner-btn{
        width: 160px;
        height: 48px;
        line-height: 48px;
        font-size: 1rem;
    }

    /**** Shop By Style section ****/
    .style-section .item-wrap .item .category{
        font-size: 1.2rem;
        padding: 1rem 0 0 1rem;
    }

    .style-section .item-wrap .style-1,
    .style-section .item-wrap .style-2,
    .style-section .item-wrap .style-3,
    .style-section .item-wrap .style-4{
        height: 480px;
    }
    .style-section .item-wrap .style-1:hover,
    .style-section .item-wrap .style-2:hover,
    .style-section .item-wrap .style-3:hover,
    .style-section .item-wrap .style-4:hover{
        height: 480px;
    }

    /****  Swiper New Product section ****/
    .product-section .product-slides .pd-1,
    .product-section .product-slides .pd-2,
    .product-section .product-slides .pd-3,
    .product-section .product-slides .pd-4,
    .product-section .product-slides .pd-5,
    .product-section .product-slides .pd-6,
    .product-section .product-slides .pd-7,
    .product-section .product-slides .pd-8{
        height: 424px;
    }
    .product-section .product-slides .pd-1:hover,
    .product-section .product-slides .pd-2:hover,
    .product-section .product-slides .pd-3:hover,
    .product-section .product-slides .pd-4:hover,
    .product-section .product-slides .pd-5:hover,
    .product-section .product-slides .pd-6:hover,
    .product-section .product-slides .pd-7:hover,
    .product-section .product-slides .pd-8:hover{
        height: 424px;
    }
    


    /**** Md Pick Section ****/
    .md-section .wrapper .btns{
        column-gap: 4.2rem;
    }
    .md-section .wrapper .btns button{
        font-size: 1.6rem;
    }
    .md-section .wrapper .panels{
        padding-top: 1.6rem;
    }
    .md-section .wrapper .panels .panel .bag-item .bag-img{
        height: 473px;
    }

    /**** Instagram Section ****/
    .instargram-section{
        padding-top: 5.6rem;
    }
    .instargram-section .insta-background{
        height: 100vh;
    }
    .instargram-section .insta-title p:first-child{
        font-size: 2.2rem;
    }
    .instargram-section .insta-title p:last-child{
        font-size: 1.6rem;
    }
    .instargram-section .insta-wrap{
        column-gap: .8rem;
    }

    .instargram-section .insta-wrap .insta-items{
        height: 560px;
    }
    .instargram-section .insta-wrap .insta-items-1{
        column-gap: .8rem;
    }

    .instargram-section .insta-wrap .insta-items-1 .insta-item-left{
        height: calc(560px + .8rem);
    }
    .instargram-section .insta-wrap .insta-items-1 .insta-item-right{
        row-gap: .8rem;
    }
    .instargram-section .insta-wrap .insta-items-2{
        row-gap: .8rem;
    }
    .instargram-section .insta-wrap .insta-items-2 .insta-item-top{
        column-gap: .8rem;
    }

    /* Footer */
    footer{
        padding: 4rem 0;
        font-size: .9rem;
    }
    footer .footer-wrap .guide{
        row-gap: 2.4rem;
    }
    footer .footer-wrap .guide .cs-center,
    footer .footer-wrap .guide .address{
        line-height: 1.6;
    }
    footer .footer-wrap .guide .cs-center h2,
    footer .footer-wrap .footer-menu ul{
        font-size: 1.4rem;
    }
    footer .footer-wrap .guide .cs-center p{
        font-size: 2rem;
    }
    footer .footer-wrap .guide .business-hours{
        line-height: 2;
    }
    footer .footer-wrap .guide .address span{
        padding-right: .8rem;
    }
    footer .footer-wrap .guide .address p{
        letter-spacing: -.8px;
    }
    footer .footer-wrap .footer-menu{
        column-gap: 3rem;
    }
    footer .footer-wrap .footer-menu ul li:first-child{
        padding-top: 1.6rem;
    }
    footer .footer-wrap .footer-menu ul li{
        line-height: .96;
    }
    footer .footer-wrap .footer-menu ul li a{
        font-size: .8rem;
    }
} /* max-width 1600px end */





@media screen and (max-width:1200px){
     /**** Container *****/
     .container{
        padding: 0 4.8rem;
    }
     /* Title Style */
     .title{
        font-size: 1.4rem;
        padding-bottom: .6rem;
    }

    /* Section Padding */
    .banner-content,.style-section,.product-section,.md-section{
        padding: 4.48rem 0;
    }
      /***** Header *****/
      header{
        padding: 0 4.8rem;
        height: 70.4px;
    }
    header .nav .logo{
        font-size: 1.6rem;
        padding-right: 1.2rem;
    }
    header .nav .menu-bar li a{
        font-size: .96rem;
    }
    header .nav .info-bar li a{
        font-size: 1rem;
    }
    /**** Swiper Main slide ****/
    .main-slides .slide .slide-view-box p{
        font-size: 1.45rem;
    }
    .main-slides .slide .slide-view-box .bm-box{
        column-gap: 1rem;
    }
    .main-slides .slide .slide-view-box .bm-box .buy,
    .main-slides .slide .slide-view-box .bm-box .more{
        width: 128px;
        height: 38px;
        font-size: .5rem;
        line-height: 38px;
        border: 1.5px solid #fff;
    }
    /****  Banner Content ****/
    .banner-content .content-box{
        column-gap: 2rem;
    }
    .banner-content .content-box .content{
        width: 420px;
        height: 448px;
    }

    .banner-content .content-box .content-2{
        margin-top: 4.8rem;
    }
    .banner-content .banner-text{
        padding-top: 3.2rem;
        row-gap: .6rem;
    }
    .banner-content .banner-text .brand{
        font-size: 1.4rem;
    }
    .banner-content .banner-text p{
        font-size: 2.5rem;
    }
    .banner-content .banner-text .banner-btn{
        width: 128px;
        height: 38px;
        line-height: 38px;
        font-size: .8rem;
    }

    /**** Shop By Style section ****/
    .style-section .item-wrap .item .category{
        font-size: 1rem;
        padding: .8rem 0 0 .8rem;
    }

    .style-section .item-wrap .style-1,
    .style-section .item-wrap .style-2,
    .style-section .item-wrap .style-3,
    .style-section .item-wrap .style-4{
        height: 384px;
    }
    .style-section .item-wrap .style-1:hover,
    .style-section .item-wrap .style-2:hover,
    .style-section .item-wrap .style-3:hover,
    .style-section .item-wrap .style-4:hover{
        height: 384px;
    }

    /**** Swiper New Product section  ****/
    .product-section .product-slides .pd-1,
    .product-section .product-slides .pd-2,
    .product-section .product-slides .pd-3,
    .product-section .product-slides .pd-4,
    .product-section .product-slides .pd-5,
    .product-section .product-slides .pd-6,
    .product-section .product-slides .pd-7,
    .product-section .product-slides .pd-8{
        height: 339px;
    }
    .product-section .product-slides .pd-1:hover,
    .product-section .product-slides .pd-2:hover,
    .product-section .product-slides .pd-3:hover,
    .product-section .product-slides .pd-4:hover,
    .product-section .product-slides .pd-5:hover,
    .product-section .product-slides .pd-6:hover,
    .product-section .product-slides .pd-7:hover,
    .product-section .product-slides .pd-8:hover{
        height: 339px;
    }

    .product-section .product-slides .product-info-box{
        row-gap: .4rem;
        padding-top: .8rem;
    }
    .product-section .product-slides .product-info-box .name,
    .product-section .product-slides .product-info-box .price{
        font-size: 1rem;
    }
    .product-section .product-slides .product-info-box .color-box{
        column-gap: .4rem;
    }
    .product-section .product-slides .product-info-box .color-box .color{
        width: 13px;
        height: 13px;
    }
    
    /**** Md Pick Section ****/
    .md-section .wrapper .btns{
        column-gap: 3.4rem;
    }
    .md-section .wrapper .btns button{
        font-size: 1.3rem;
    }
    .md-section .wrapper .panels{
        padding-top: 1.3rem;
    }
    .md-section .wrapper .panels .panel .bag-item .bag-img{
        height: 378px;
    }
    .md-section .wrapper .panels .panel .bag-item .bag-info-box .name-wish .name{
        font-size: 1rem;
    }
    .md-section .wrapper .panels .panel .bag-item .bag-info-box .name-wish i{
        font-size: 1rem;
        padding-right: .8rem;
    }
    .md-section .wrapper .panels .panel .bag-item .bag-info-box .price{
        font-size: .9rem;
    }
    .md-section .wrapper .panels .panel .bag-item .md-btn{
        font-size: 0.9rem;
        padding-top: 1.2rem;
        border-bottom: 1.5px solid #B00000;
    }

     /**** Instagram Section ****/
     .instargram-section .insta-title p:first-child{
        font-size: 1.76rem;
     }
     .instargram-section .insta-title p:last-child{
        font-size: 1.28rem;
     }
     .instargram-section .insta-wrap{
        column-gap: .6rem;
    }
     .instargram-section .insta-wrap .insta-items{
        height: 448px;
     }
     
     .instargram-section .insta-wrap .insta-items-1{
        column-gap: .6rem;
     }
     .instargram-section .insta-wrap .insta-items-2{
        row-gap: .6rem;
    }
     .instargram-section .insta-wrap .insta-items-1 .insta-item-left{
        height: calc(448px + .6rem);
     }
     .instargram-section .insta-wrap .insta-items-1 .insta-item-right{
        row-gap: .6rem;
     }
     .instargram-section .insta-wrap .insta-items-2 .insta-item-top{
        column-gap: .6rem;
     }
      /* Footer */
      footer{
        padding: 3.2rem 0;
        font-size: .7rem;
    }
    footer .footer-wrap .guide{
        row-gap: 1.9rem;
    }
    footer .footer-wrap .guide .cs-center,
    footer .footer-wrap .guide .address{
        line-height: 1.8;
    }
    footer .footer-wrap .guide .cs-center h2,
    footer .footer-wrap .footer-menu ul{
        font-size: 1rem;
    }
    footer .footer-wrap .guide .cs-center p{
        font-size: 1.6rem;
    }
    footer .footer-wrap .guide .business-hours{
        line-height: 1.8;
    }
    footer .footer-wrap .guide .address span{
        padding-right: .6rem;
    }
    footer .footer-wrap .guide .address p{
        letter-spacing: -.6px;
    }
    footer .footer-wrap .footer-menu{
        column-gap: 2.4rem;
    }
    footer .footer-wrap .footer-menu ul li:first-child{
        padding-top: 1.3rem;
    }
    footer .footer-wrap .footer-menu ul li{
        line-height: 1.3;
    }
    footer .footer-wrap .footer-menu ul li a{
        font-size: .6rem;
    }

}/* max-width 1200px end */


@media screen and (max-width:800px){
    /* Swiper Height 조정 */
    .main-slides{
        height: 600px;
  }
    /* Container */
    .container{
        padding: 0 3.8rem;
    }
  /**** Mobile Header ****/
    header{
        display: none;
    }

    /** Logo & Menu icon **/
    .mobile-header{
        width: 100%;
        height: 70.4px;
        padding: 0 3.8rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        transition: all .3s;
        display: block;

    }
    .mobile-header.active{
        background-color: #fff;
    }
    .mobile-header .mobile-header-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-header .mobile-header-wrap .m-logo{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--ff-en-jost);
        color: #000;
    }
    .mobile-header .mobile-header-wrap .m-menu-icon{
        font-size: 1.3rem;
    }

    /** Menu List **/
    .mobile-menu-wrap{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .mobile-menu-wrap .nav {
        background-color: #fff;
    }
    .mobile-menu-wrap .nav .m-close{
        padding: 0 3.8rem;
        height: 70.4px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.3rem;
    }
    .mobile-menu-wrap .nav .mobile-menu-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .mobile-menu-wrap .nav .mobile-menu-bar li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #efefef;
        padding-bottom: .5rem;
    }
    .mobile-menu-wrap .nav .mobile-menu-bar li:last-child{
        border-bottom: none;
    }
    .mobile-menu-wrap .nav .mobile-menu-bar li a{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--ff-en-jost);
        color: #414141;
    }
    .mobile-menu-wrap .nav .mobile-menu-bar li a:hover{
        color: #828282;
    }


}